.about{
    color: white !important;
    margin: 2em 0 3em;
    div{
        margin: 0 auto;
        width: 60%;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;      
        font-size: 16px;  
        span{
            margin-left: 1em;
            a{
                text-decoration: none;
                color: #feebd9 !important;
                font-weight: bold;
            }
        }
        @media(max-width: 600px){
            width: 95%;
        }
    }
}