.main{
    color              : rgb(248, 248, 248);
    min-height         : 41em;
    position           : relative;
    padding            : 60px 200px ;
    overflow           : hidden;
    background-size    : cover;
    background-position: right bottom;
    display            : flex;
    flex-direction     : column;
    height             : 100%;
    justify-content    : space-between;
    align-items        : center;
    @media(max-width: 600px){
        padding: 40px 30px;
    }
}
.navbar{
    display        : flex;
    justify-content: center;
    align-items    : center;
    @media(max-width: 600px){
        width          : 100%;
        justify-content: space-between;
    }
    .ic{
        display: none;
        @media(max-width: 600px){
            display: block;
        }
    }
    .menu{
        display    : flex;
        align-items: center;
        font-weight: bold;
        .list{
            padding: 4px;
            margin : 0 1em;
            a{
                color          : white;
                opacity        : 0.8;
                font-size      : 19px;
                line-height    : 36px;
                white-space    : nowrap;
                text-decoration: none;
            }
            @media(max-width: 600px){
                display: none;
            }
        }
        .btns{
            margin-left    : 36px;
            font-size      : 18px;
            letter-spacing : 0px;
            line-height    : 18px;
            white-space    : nowrap;
            border         : 1px solid rgb(248, 248, 248);
            border-radius  : 22px;
            cursor         : pointer;
            padding        : 12px 32px;
            outline        : none;
            text-decoration: none;
            color          : white;
            @media(max-width: 600px){
                padding  : 8px 15px;
                font-size: 13px;
                margin   : 0;
            }
        }
       
    }
}

.heads{
    display       : flex;
    flex-direction: column;
    align-items   : center;
    font-weight   : bold;
    @media(max-width: 600px){
        width: 85%;
    }
    .reward{
        font-size     : 10rem;
        line-height   : 100px;
        letter-spacing: -3px;
        text-align    : center;
        white-space   : pre-line;
        margin-top    : 1em;
        font-family   : sans-serif;
        span{
            font-size: 18rem;
        }
        @media(max-width: 600px){
            font-size     : 3rem;
            letter-spacing: 0;
            line-height   : normal;
            text-align    : left;
            span{
                font-size: 4.5rem;
            }
        }
    }
    .sub{
        font-size     : 25px;
        letter-spacing: -0.2px;
        line-height   : 38px;
        margin        : 2.5em 0;
        letter-spacing: 5rem;
        text-transform: uppercase;
        @media(max-width: 600px){
            font-size     : 15px;
            line-height   : 1.5;
            text-align    : left;
            margin        : 1em 0;
            letter-spacing: 0.9rem;
        }
    }
    
}
.dwnld{
    display         : inline-flex;
    white-space     : nowrap;
    align-items     : center;
    position        : relative;
    pointer-events  : auto;
    text-align      : center;
    padding         : 20px 65px;
    background-color: rgb(255, 255, 255);
    color           : rgb(0, 0, 0);
    font-size       : 24px;
    letter-spacing  : 0.4px;
    line-height     : 30px;
    border-radius   : 40px;
    cursor          : pointer;
    margin-top      : 58px;
    @media(max-width: 600px){
        padding      : 10px 20px;
        font-size    : 17px;
        margin-top   : 25px;
        margin-bottom: 3em;
    }
}
.drawer{
    width: 270px;
}