.register{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.8)),
    url("../../assests/Images/Image-1.jpg") no-repeat center center /cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  .logo{
      font-size: 35px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      span{
          font-size: 60px;
      }
      @media(max-width:600px){
          font-size: 25px;
        //   top: 1em;
       
          span{
              font-size: 45px;
          }
      }
  }
  h1{
      margin: 0 !important;
      padding: 1em 0;
      text-align: center;
      width: 100%;
      color: white;
      @media(max-width:600px){
          margin: 0 1em;
          font-size: 5vh;
      }
  }
  .form{
      width: 100%;
      margin: 4em 0;
      padding-top: 5rem;
    
      form{
          width: 60%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
         
          @media(max-width:600px){
              width: 100%;
          }
          .required-field{
              color: brown !important;
              font-size: 20px;
          }

          .input{
              width: 60%;
              @media(max-width:600px){
                  width: 80%;
              }
              
        .status{
            margin: 3em 0;
            text-align: center;
            letter-spacing: 2px;
            .green{
                color: #2baba7;
            }
            .red{
                color: red;
            }
        }
        
              h6{
                  margin: 1em 0 !important;
                  font-size: 17px;
                  .MuiInputBase-root{
                        width: 100% !important;
                        letter-spacing: 1px;
                        font-size: 22px;
                        color: white !important;
                  }
                  @media(max-width:600px){
                    .MuiInputBase-root{
                        width: 100% !important;
                        letter-spacing: 1px;
                        font-size: 18px;
                        color: white !important;
                  }
                }
                  .MuiSelect-select {
                      border-radius: 8px;
                      color: white !important;  
                  }
                  .Mui-error{
                      .MuiInput-input{
                        color: brown !important;
                      }
                  }
                  .MuiFormLabel-root.Mui-error {
                      color: brown !important;
                  }
                  .MuiInput-underline.Mui-error:after {
                   
                    border-bottom-color: #f44336 !important;
                }
                .MuiFormLabel-root .Mui-focused{
                    color: white !important;
                  }
                
                  .MuiInput-underline:before{
                    border-bottom:  2px solid #d0cdc8 !important;
                  }
                  .MuiInput-underline:after{
                    border-bottom: 2px solid #d0cdc8 !important;
                  }
                  .MuiFormLabel-root{
                    color: white !important;
                  } 
               
// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus, 
// input:-webkit-autofill:active  {
//     transition: background-color  5000s ease-in-out 0s;
//     color: white !important;
// }

              }      

          }
          .subm{
            width: 60%;
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            @media(max-width:600px){
                width: 80%;
            }
            .btn13{
                background-color: green !important;
                color: white !important;
                font-size: 14px !important;
                padding: 0.5em 1em !important;
                border: 8px !important;
              
            } 
            .btn14{
                background-color:brown !important;
                color: white !important;
                font-size: 14px !important;
                padding: 0.5em 1em !important;
                border: 8px !important;
              
            }    
             
          
          }
          .next{
              width: 60%;
              display: flex;
              justify-content: flex-end;
              @media(max-width:600px){
                  width: 80%;
              }
              .btn13{
                  background-color: rgb(199, 195, 189) !important;
                  color: black !important;
                  font-size: 14px !important;
                  padding: 0.5em 1em !important;
                  border: 8px !important;
              }
            }
      }
  }
  

}